{% extends "base.html" %}

{% block title %}Driver | {{ block.super }} {% endblock %}

<style>
  {% block style %}
  body
  {
      background: url(http://wallpaper.pickywallpapers.com/1920x1080/driving-in-the-rain.jpg) no-repeat center center fixed; 
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover;
  }
  {% endblock %}
</style>

{% block menu %}
   <li><a href="/">Reserve</a></li>
   <li class="active"><a href="#">Drivers Information</a></li>
   <li><a href="/companys">Company Information</a></li>
{% endblock %}

{% block content %}

      <br><br><br><br><br><br>

      <div class="panel panel-danger">
        <div class="panel-heading">Drivers Status</div>
        <div class="panel-body">


            {% if drivers_check == 0 %}

            <div class="alert alert-danger">
            <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
              <strong>Fail!</strong> Driver not found.
            </div>

            {% else %}


            <div class="table-responsive"> 
            <table  class="table table-hover text-center">
              <tr>
                <th class="text-center">Bus ID</th>
                <th class="text-center">License</th>
                <th class="text-center">First Name</th>
                <th class="text-center">Last Name</th>
                <th class="text-center">Gender</th>
                <th class="text-center">Experiece (Year)</th>
                <th class="text-center">Age</th>
                <th class="text-center">Company</th>
              </tr>

              {% for driver in drivers %}

              <tr>
                <td> {{ driver.bus_id }} </td>
                <td> {{ driver.license }} </td>
                <td> {{ driver.first_name }} </td>
                <td> {{ driver.last_name }} </td>
                <td> {{ driver.gender }} </td>
                <td> {{ driver.experience }} </td>
                <td> {{ driver.age }} </td>
                <td> {{ driver.company }} </td>
              </tr>

              {% endfor %}
              
            </table>
            </div>

            {% endif %}

          
        </div>
      </div>



{% endblock %}


<!-- class Driver(models.Model):
  idetification_number = models.CharField(max_length=13, primary_key=True)
  name = models.CharField(max_length=40)
  gender = models.CharField(max_length=10)
  date_of_birth = models.DateField()
  license = models.CharField(max_length=20)
  experience = models.IntegerField()

  bus_id = models.ForeignKey(Bus, default=1)
 -->
