{% extends "base.html" %}

{% block title %}Driver | {{ block.super }} {% endblock %}

<style>
  {% block style %}
  body
  {
      background: url(http://wallpaper.pickywallpapers.com/1920x1080/driving-in-the-rain.jpg) no-repeat center center fixed; 
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover;
  }
  {% endblock %}
</style>

{% block content %}

    <!-- Fixed navbar -->
    <nav class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">Bus Reservation system</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li><a href="/">Bus Schedule</a></li>
            <li><a href="/reservation">Reservation</a></li>
            <li class="active"><a href="#">Drivers Status</a></li>
          </ul>

          <ul class="nav navbar-nav navbar-right">

            {% if user.is_authenticated %}
            <li><a href="#">Welcome, {{ user.username }}</a></li>
            {% endif %}

            <li><a href='{% url "logout" %}'>Logout</a></li>
          </ul>

        </div><!--/.nav-collapse -->
      </div>
    </nav>

    <div class="container">

      <br><br><br><br><br><br>

      <div class="panel panel-danger">
        <div class="panel-heading">Drivers Status</div>
        <div class="panel-body">

            {% if error == 0 %}

            <div class="alert alert-danger">
            <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
              <strong>Fail!</strong> Driver not found.
            </div>

            {% else %}
            <div class="table-responsive"> 
            <table  class="table table-hover">
              <tr>
                <th>Identification Number</th>
                <th>Name</th>
                <th>Gender</th>
                <th>Age</th>
                <th>License</th>
                <th>Experience</th>
                <th>Driver in bus id</th>
              </tr>

              {% for driver in drivers %}

              <tr>
                <td> {{ driver.idetification_number }} </td>
                <td> {{ driver.name }} </td>
                <td> {{ driver.gender }} </td>
                <td> {{ driver.date_of_birth }} </td>
                <td>  {{ driver.license }} </td>
                <td> {{ driver.experience }} </td>
                <td> {{ driver.bus_id }} </td>
              </tr>

              {% endfor %}
              
            </table>
            </div>

            {% endif %}

          
        </div>
      </div>

    </div> 


{% endblock %}


<!-- class Driver(models.Model):
  idetification_number = models.CharField(max_length=13, primary_key=True)
  name = models.CharField(max_length=40)
  gender = models.CharField(max_length=10)
  date_of_birth = models.DateField()
  license = models.CharField(max_length=20)
  experience = models.IntegerField()

  bus_id = models.ForeignKey(Bus, default=1)
 -->
