{% extends "base.html" %}

{% load crispy_forms_tags %}

{% block title %}Login | {{ block.super }} {% endblock %}
{% block title_bar %}{{ block.super }} | Login{% endblock %}


<style>
      {% block style %} 
        body {
          background-color: #eee  ;
        }
      {% endblock %}
</style>


{% block content %}


<br><br><br><br><br>
<div class="row">
	<div class="col-md-4"></div>

	<div class="col-md-4">

		<div class="panel panel-primary">
		
		      <div class="panel-heading">Please sign in</div>
		      <div class="panel-body">
		      
					{% if validation == 0 %}
					<div class="alert alert-danger">
					  <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
					  <strong>Fail!</strong> The username or password you entered is incorrect.
					</div>
					{% endif %}

			      	<form action="" method="post" class="form-signin">{% csrf_token %}

						{{ form|crispy }}

					<input type='submit' value='Login' class="btn btn-primary  btn-block"></input>
					<a  class="btn btn-primary  btn-block" href="/register" >Register</a>
					</form>
		      	
		      </div>
		</div>
		
	</div>
	<div class="col-md-4"></div>
</div>



<hr>


{% endblock %}