{% extends "base.html" %}

{% load crispy_forms_tags %}

{% block title %}Login | {{ block.super }} {% endblock %}


<style>
      {% block style %} 
        body {
          background-color: #eee  ;
        }
      {% endblock %}
</style>


{% block content %}


<div class="row">
	<div class="col-md-4"></div>
	<div class="col-md-4">
		<h2 class="form-signin-heading">Please sign in</h2>
		<form action="" method="post" class="form-signin">{% csrf_token %}

			{{ form|crispy }}

		<input type='submit' value='Login' class="btn btn-primary  btn-block"></input>
		<a  class="btn btn-primary  btn-block" href="/register" >Register</a>
		</form>
	</div>
	<div class="col-md-4"></div>
</div>



<hr>


{% endblock %}