{% extends "base.html" %}

{% load crispy_forms_tags %}

{% block title %}Register | {{ block.super }} {% endblock %}

{% block content %}

<br><br><br>

<form action="" method="post">{% csrf_token %}
	
	{{ user_form|crispy }}
	{{ detail_form|crispy }}


	<div class="row">
		<div class="col-sm-12 text-center">
			<input type='submit' value='Register'  class="btn btn-primary"></input>
			<input type='reset' value='Reset'  class="btn btn-primary"></input>
			<a href="/" class="btn btn-primary">Cancel</a>
		</div>
	</div>


</form>

<br><br>


{% endblock %}